<div>
    <h3>Чим займаємось</h3>
    <p>
        Vasilenko Law School - це проект, місія якого зробити юридичну освіту якісною та корисною.

        Школа орієнтована на адвокатів та юристів з досвідом роботи.

        У школі представлено сім найбільш актуальних курсів, які були обрані та розроблені за результатами опитувань адвокатів.
    </p>
</div>
